{# app/views/referee/additional-information.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reference form — Apply for the CPS Advocate Panel — GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <span class="govuk-caption-l">{{ data['applicationNumber'] }}</span> -->
    <h1 class="govuk-heading-l">Additional information</h1>

    <form method="post" novalidate>

        {{ govukCharacterCount({
          id: "additional-information-for-reference",
          name: "additionalInformationForReference",
          maxwords: 500,
          rows: "15",
          label: {
            text: "Please add any additional information which might assist.",
            isPageHeading: false,
            classes: "govuk-label--s govuk-visually-hidden"
          },
          value: data['additionalInformationForReference']
        }) }}

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
    </form>
  </div>
</div>  
{% endblock %}