{# app/views/referee/index.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reference form — Apply for the CPS Advocate Panel — GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Ref / application number </span>
    <h1 class="govuk-heading-l">Reference for [applicant_name]</h1>

    <h2 class="govuk-heading-m">Referee details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "/referee/name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: "email@name.com"
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              html: "Barrister"
            },
            actions: {
              items: [
                {
                  href: "/referee/job-title",
                  text: "Change",
                  visuallyHiddenText: "job title"
                }
              ]
            }
          },
          {
            key: {
              text: "Referee role"
            },
            value: {
              html: "Some role"
            },
            actions: {
              items: [
                {
                  href: "/referee/role",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}
    
      
      <h2 class="govuk-heading-m">Reference questions</h2> 
      
      {% include "/_includes/referee/task-list.njk" %}
      

  </div>
</div>
{% endblock %}