{# app/views/referee/job-title.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reference form — Apply for the CPS Advocate Panel — GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ data['applicationNumber'] }}</span>
    <h1 class="govuk-heading-l">What is your job title?</h1>

    <form method="post" novalidate>

      {{ govukInput({
        label: {
          text: "What is your job title?",
          classes: "govuk-label--l govuk-visually-hidden",
          isPageHeading: false
        },
        id: "referee-job-title",
        name: "refereeJobTitle",
        value: data['refereeJobTitle']
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>  
{% endblock %}