{# app/views/referee/role-description.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reference form — Apply for the CPS Advocate Panel — GOV.UK
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ data['applicationNumber'] }}</span>
    <h1 class="govuk-heading-l">Role description</h1>

    <form method="post" novalidate>
          
        <h3 class="govuk-heading-m">More information</h3>

        {% if data['refereeJourneyLevel'] === "Level 1" %}
          {% set roleDescriptionHint = "How would you describe your role in relation to the applicant e.g. Pupil Supervisor, Head of Chambers, Chambers Advocacy Assessor etc.? Please include details of your knowledge of the applicant's work" %}
        {% else %}
          {% set roleDescriptionHint = "How would you describe your role in relation to the applicant e.g. judicial referee, head of chambers, instructing solicitor etc.? Please include details of your knowledge of the applicant's work." %}
        {% endif %}

        {{ govukCharacterCount({
          id: "relation-to-applicant-info",
          name: "relationToApplicantInfo",
          maxwords: 150,
          rows: "10",
          label: {
            text: "What is your relationship to the applicant",
            isPageHeading: false,
            classes: "govuk-label--s govuk-visually-hidden"
          },
          hint: {
            text: roleDescriptionHint
          },
          value: data['relationToApplicantInfo']
        }) }}

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
    </form>
  </div>
</div>  
{% endblock %}