{# app/views/referee/start.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Referee journey — Apply for the CPS Advocate Panel — GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
     Referee journey
    </h1>

    <p class="govuk-body">Some stuff:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>

    <p class="govuk-body">Some stuff:</p>


    {{ govukButton({
      text: "Start now",
      href: "/referee",
      isStartButton: true
    }) }}

  </div>

{% endblock %}