{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Preferred circuits</h1>

    <form method="post" novalidate>

      {% set preferredCircuit = data['preferredCircuit'] if data['preferredCircuit'] else [] %}

      {{ govukCheckboxes({
        name: "preferredCircuit",
        fieldset: {
          legend: {
            text: "Primary circuit",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "Midlands",          text: "Midlands",          checked: true if "Midlands"          in preferredCircuit },
          { value: "North Eastern",     text: "North Eastern",     checked: true if "North Eastern"     in preferredCircuit },
          { value: "Northern",          text: "Northern",          checked: true if "Northern"           in preferredCircuit },
          { value: "South Eastern",     text: "South Eastern",     checked: true if "South Eastern"     in preferredCircuit },
          { value: "Wales and Chester", text: "Wales and Chester", checked: true if "Wales and Chester" in preferredCircuit },
          { value: "Western",           text: "Western",           checked: true if "Western"           in preferredCircuit }
        ]
      }) }}

      {% set secondaryCircuit = data['secondaryCircuit'] if data['secondaryCircuit'] else [] %}

      {{ govukCheckboxes({
        name: "secondaryCircuit",
        fieldset: {
          legend: {
            text: "Secondary circuit (optional)",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "Midlands",          text: "Midlands",          checked: true if "Midlands"          in secondaryCircuit },
          { value: "North Eastern",     text: "North Eastern",     checked: true if "North Eastern"     in secondaryCircuit },
          { value: "Northern",          text: "Northern",          checked: true if "Northern"           in secondaryCircuit },
          { value: "South Eastern",     text: "South Eastern",     checked: true if "South Eastern"     in secondaryCircuit },
          { value: "Wales and Chester", text: "Wales and Chester", checked: true if "Wales and Chester" in secondaryCircuit },
          { value: "Western",           text: "Western",           checked: true if "Western"           in secondaryCircuit },
          { value: "No preference",     text: "No preference",     checked: true if "No preference"     in secondaryCircuit }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}