{# app/views/about-you-questions/check-answers.html #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers</h1>

    {% set summaryRows = [
      {
        key: { text: "What describes you" },
        value: { text: data.yourRolesIs or "Barrister" },
        actions: {
          items: [{ href: "/question-what-describes-you", text: "Change", visuallyHiddenText: "what describes you" }]
        }
      },
      {
        key: { text: "Court panel" },
        value: { text: data.courtPanel },
        actions: {
          items: [{ href: "/about-you-questions/question-court-panel", text: "Change", visuallyHiddenText: "court panel" }]
        }
      },
      {
        key: { text: "Court level" },
        value: { text: data.crownCourtLevel },
        actions: {
          items: [{ href: "/about-you-questions/crown-court-levels", text: "Change", visuallyHiddenText: "court level" }]
        }
      },
      {
        key: { text: "Membership type" },
        value: { text: data['membership'] },
        actions: {
          items: [{ href: "/about-you-questions/new-joiner-level-2-4", text: "Change", visuallyHiddenText: "membership type" }]
        } 
      } if data.crownCourtLevel === 'Level 1'
    ] %}

    {% if data['crownCourtLevel'] === 'Level 4' %}
      {% set summaryRows = (summaryRows.push({
        key: { text: "London secondee" },
        value: { text: data['londonSecondee'] },
        actions: {
          items: [{ href: "/about-you-questions/london-secondee", text: "Change", visuallyHiddenText: "london secondee" }]
        }
      }), summaryRows) %}
    {% endif %}

    {{ govukSummaryList({ rows: summaryRows }) }}

    <form action="/start-application" method="post">
      {{ govukButton({ text: "Confirm and start application" }) }}
    </form>

{% endblock %}
