{# app/views/about-you-questions/london-secondee.html #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
    <form method="post">

      <div class="govuk-form-group">
        {{ govukRadios({
          name: "londonSecondee",
          fieldset: {
            legend: {
              text: "Are you a London secondee?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can apply to upgrade your level from 1 to 30 September. You can apply at any time if you’re on secondment to the CPS in a London circuit."
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

      </div>
        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>


{% endblock %}
