{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Apply for the CPS Advocate Panel
    </h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections you’re entitled to vote in.
      </div>
    </details>

    <p class="govuk-body">Lorem ipsum loremn ipum lorem</p>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum</a>.
    </p>


    <form method="post" novalidate>

      <div class="govuk-form-group">
        {{ govukRadios({
        name: "courtPanel",
        fieldset: {
          legend: {
            text: "Select a panel to apply for:",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "crownCourtGeneralCrime",
            text: "Crown Court General Crime"
          },
          {
            value: "rasso",
            text: "Rape and serious sexual offences"
          },
          {
            value: "specialist",
            text: "Specialist"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}
      </div>  
      
      {{ govukButton({
        text: "Continue"
      }) }}
        
    </form>

  

  </div>
</div>
{% endblock %}
