{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

  {% block containerStart %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
    }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

      <div class="govuk-form-group">
        {{ govukRadios({
        name: "courtPanel",
        fieldset: {
          legend: {
            text: "Panel",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "General crime",
            text: "General crime"
          },
          {
            value: "Rape and serious sexual offences (RASSO)",
            text: "Rape and serious sexual offences (RASSO)"
          },
          {
            value: "Specialist",
            text: "Specialist"
          }
        ]
      }) }}
      </div>  
      
      {{ govukButton({
        text: "Continue"
      }) }}
        
    </form>

  

  </div>
</div>
{% endblock %}
