{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      General Crime Panel - Membership type x
    </h1>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
       Applications to upgrade General Crime membership (to levels 2, 3 or 4) are accepted from 1st to 30th September.<br>
        Temporary membership applications are accepted between 1 November and 31 July each year. <br>
        Temporary members who fail to secure permanent memebership during the next available application window will be removed from the Panel.
      </div>
    </details>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum </a>.
    </p>




     
 <form action="/solicitor-membership-type-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Select a membership type:
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="membership-permanent"
                     name="membership"
                     type="radio"
                     value="permanent">
              <label class="govuk-label govuk-radios__label" for="membership-permanent">
                Permanent
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="membership-temporary"
                     name="membership"
                     type="radio"
                     value="temporary">
              <label class="govuk-label govuk-radios__label" for="membership-temporary">
                Temporary
              </label>
            </div>

          </div>
        </fieldset>
      </div>

  <div class="govuk-inset-text">
        Applications to upgrade General Crime membership (to levels 2, 3 or 4) are accepted from 1st to 30th September.<br>
        Temporary membership applications are accepted between 1 November and 31 July each year. <br>
        Temporary members who fail to secure permanent memebership during the next available application window will be removed from the Panel.
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
       Continue
      </button>

    </form>

  </div>
</div>


{% endblock %}
