{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your estimated property income this tax year?
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Question 2</h1>

<form method="post" action="/mtd-complex/uk-property-expenses">

 <div class="govuk-form-group">
  <div id="more-detail-hint" class="govuk-hint">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

  <button class="govuk-button" type="submit">Continue</button>
</form>

{% endblock %}
