{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Is this address correct?</h1>


        <div class="govuk-inset-text">
            <strong>Harborstone Chambers</strong><br>
            88 Crown Lane, Bristol BS1 3QF
        </div>


        <p class="govuk-body">
         <a href="./sole-trader-adding-address-skip.html" class="govuk-link">Change address</a>
        </p>


       <div class="govuk-button-group govuk-!-margin-top-7">
            <a href="../start-application-2.html" role="button" draggable="false" class="govuk-button"
                data-module="govuk-button">
                Confirm new sole trader address
            </a>
        </div>

    </div>
</div>

{% endblock %}
