{% extends "layouts/main.html" %}
{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  

    <h1 class="govuk-heading-l">
      Examples of public interest immunity (PII) and disclosure work 
    </h1>

    <p class="govuk-body">Give up to 3 examples. Include details of the issue you had to advise on or address, your approach and the outcome.</p>

    <p class="govuk-body">Do not include the names of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>yourself</li>
      <li>victims</li>
      <li>witnesses</li>
      <li>defendants</li>
      <li>courts</li>
      <li>judges</li>
      <li>operations</li>
    </ul>

    <p class="govuk-body">Your application will be returned for you to change if you include identifying information.</p>  

    <form method="post" novalidate>

        <div class="govuk-form-group">
          {{ govukCharacterCount({
            name: "publicInterestImmunity",
            id: "public-interest-immunity",
            rows: 10,
            value: data['publicInterestImmunity'],
            maxwords: 400,
            label: {
              text: "Evidence of PII and disclosure work",
              classes: "govuk-label--m"
            }

          }) }}
        </div>

        {{ govukRadios({
            name: "haveYouCompletedThisSection",
            value: data['haveYouCompletedThisSection'],
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I've completed this section"
              },
              {
                value: "no",
                text: "No, I'll come back to it later"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

  </div>
</div>
{% endblock %}