{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Appreciation of the role of a panel advocate
    </h1>

    <p class="govuk-body">You should say:</p>
    
    <ul class="govuk-list govuk-list--bullet">  
      <li>why you want to be on the CPS advocate panel</li>
      <li>your understanding of the role of a panel advocate</li>
      <li>what qualities would make you a good prosecution advocate</li>
    </ul>

    {% if data['crownCourtLevel'] !== 'Level 1' %}

    <p class="govuk-body">You should show:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>that you can act as a role model for others</li>
      <li>a knowledge of ethical standards and a leader on issues of diversity and difference</li>
      <li>you comprehend and successfully lead cases of the utmost gravity, complexity and sensitivity</li>
      <li>familiarity with, and understanding of, CPS policy guidance including the Code, the Farquharson guidelines and policies in respect of victims and witnesses, hate crime and violence against women</li>
      <li>an appropriate understanding of the professional relationship between the CPS, the police and the advocate, particularly in cases where there has been lengthy and complex police investigations</li>
    </ul>


    {% else %}

    <p class="govuk-body">You should show:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a knowledge of ethical standards</li>
      <li>a knowledge of CPS values</li>
      <li>a willingness to work as part of a prosecution team without compromising professional independence</li>
      <li>understanding of the Code for Crown Prosecutors and the Farquharson guidelines on the role of the prosecution advocate</li>
      <li>an appropriate understanding of the professional relationship between the CPS, the police and the advocate</li>
      <li>an appreciation of the requirements when speaking to victims and witnesses</li>
    </ul>

    {% endif %}

    <p class="govuk-body">We recommend that you use the <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice/the-star-method" class="govuk-link" rel="noreferrer noopener" target="_blank">the STAR (situation, task, action, result) method (opens in a new tab)</a>.</p>

    <p class="govuk-body">Do not include the names of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>yourself</li>
      <li>victims</li>
      <li>witnesses</li>
      <li>defendants</li>
      <li>courts</li>
      <li>judges</li>
      <li>operations</li>
    </ul>

    <p class="govuk-body">Your application will be returned for you to change if you include identifying information.</p>

    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        {{ govukCharacterCount({
          name: "appreciation",
          id: "apreciationExample",
          rows: 10,
          value: data['apreciationExample'],
          maxwords: 400,
          label: {
            text: "Evidence of appreciation of the role of a panel advocate",
            classes: "govuk-label--m"
          }

        }) }}
      </div>

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>


  </div>
</div>
{% endblock %}