{# app/views/examples-work/examples-work-advocacy.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">
      Examples of advocacy
    </h1>

    {% if data['crownCourtLevel'] !== 'Level 1' %}

    <p class="govuk-body">You must show that you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>can conduct highest quality advocacy in the range of cases identified in 'Casework at Level 4', often of the utmost gravity</li>
      <li>have a superior grasp of trial advocacy skills for sensitive, high profile jury trials in the Crown Court including opening, closing, witness handling and legal argument often in complex multi-handed cases</li>
      <li>can deal with highly complicating factors such as special measures, presenting or challenging complex expert evidence and difficult or sensitive issues of law and/or fact</li>
      <li>can present highly proficient submissions to a standard of excellence before any tribunal including the Crown Court and Higher Courts</li>
      <li>can lead a prosecution case with skill and diplomacy in the face of hostile opponents</li>
      <li>are a fluid, articulate and intuitive advocate</li>
    </ul>

    {% else %}

    <p class="govuk-body">You must show that you’re able to conduct advocacy for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>magistrates’ court prosecutions</li>
      <li>straightforward Youth Court cases</li>
      <li>simple Crown Court mention hearings</li>
      <li>plea and case management hearings</li>
      <li>committals for sentence</li>
      <li>appeals to the crown court</li>
    </ul>

    <p class="govuk-body">Include examples of court work if possible. You can also include: 
    <ul class="govuk-list govuk-list--bullet">
      <li>pro bono work</li>
      <li>mooting</li>
      <li>debating or public speaking</li>
    </ul>

 {% endif %}

    <p class="govuk-body">Do not include the names of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>yourself</li>
      <li>victims</li>
      <li>witnesses</li>
      <li>defendants</li>
      <li>courts</li>
      <li>judges</li>
      <li>operations</li>
    </ul>

    <p class="govuk-body">Your application will be returned for you to change if you include identifying information.</p>

    <form method="post" novalidate>
      <div class="govuk-form-group">

        {{ govukCharacterCount({
          name: "advocacy",
          id: "advocacyExample",
          rows: 10,
          value: data['advocacyExample'],
          maxwords: 400,
          label: {
            text: "Evidence of advocacy",
            classes: "govuk-label--m"
          }

        }) }}
      </div>

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>

  </div>
</div>
{% endblock %}