{# app/views/examples-work/examples-work-advocacy.html #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">
      Examples of your work - Advocacy
    </h1>

    <p class="govuk-body">You must show that you’re able to conduct advocacy for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>magistrates’ court prosecutions</li>
      <li>straightforward Youth Court cases</li>
      <li>simple Crown Court mention hearings</li>
      <li>plea and case management hearings</li>
      <li>committals for sentence</li>
      <li>appeals to the crown court</li>
    </ul>

    <p class="govuk-body">Include examples of court work if possible. You can also include: 
    <ul class="govuk-list govuk-list--bullet">
      <li>pro bono work</li>
      <li>mooting</li>
      <li>debating or public speaking</li>
    </ul>

    <p class="govuk-body">Do not include the names of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>victims</li>
      <li>witnesses</li>
      <li>defendants</li>
      <li>courts</li>
      <li>judges</li>
      <li>operations</li>
    </ul>

    <p class="govuk-body">Your application will be returned for you to change if you include these kinds of identifying information.</p>

    <form method="post" novalidate>
      <div class="govuk-form-group">
        {{ govukTextarea({
          id: "advocacy",
          name: "advocacyExample",
          rows: 10,
          value: data['advocacyExample'],
          label: {
            text: "Evidence of advocacy",
            classes: "govuk-label--m"
          },
          hint: {
            text: "You can write up to 400 words."
          }
        }) }}
      </div>

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>
{% endblock %}