{% extends "layouts/main.html" %}
{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Examples of Advisory work
      </h1>

      <p class="govuk-body">Please provide details of a question or problem you have had to advise on, what you advised
        and why. Where possible, please provide more than one example. Identifying case information must not be included
        in your application. Please refer to the Selection Criteria (specific to your level).
        Review <a
          href="https://www.cps.gov.uk/advocate-panels/advocate-panels-application-portal/advocate-panels-2020-panel-general-crime-and-rasso-list#selectioncriteriageneralcrimelevelone"
          class="govuk-link" rel="noreferrer noopener" target="_blank">General Crime 1 Selection Criteria (opens in new
          tab)</a>
      </p>


      <form method="post" novalidate>

        <div class="govuk-form-group">
          {{ govukTextarea({
            name: "advisoryWork",
            id: "advisoryWork",
            rows: 10,
            value: data['advisoryWork'],
            hint: {
              text: "Please do not include more than 400 words"
            },
            label: {
              text: "Advisory work",
              classes: "govuk-visually-hidden"
            }
          }) }}
        </div>

        {{ govukRadios({
            name: "haveYouCompletedThisSection",
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I've completed this section"
              },
              {
                value: "no",
                text: "No, I'll come back to it later"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

  </div>
</div>
{% endblock %}