{% extends "layouts/main.html" %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Examples of advisory work
      </h1>

      <p class="govuk-body">Give details of questions or problems you’ve advised on. Include what you advised
        and why.</p>

    {% if data['crownCourtLevel'] !== 'Level 1' %}

    <p class="govuk-body">You must show that you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>can present highly proficient written submissions to a standard of excellence</li>
      <li>have consistently sound judgement</li>
      <li>have  expertise in law and practice and up-to-date knowledge of law relevant to prosecutions at this level</li>
      <li>assimilate the relevance of evidence quickly, even when working with voluminous or complex evidence</li>
    </ul>

    {% else %}

    <p class="govuk-body">You must show that you’re able to conduct advisory work for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>magistrates’ court prosecutions</li>
      <li>simple Crown Court cases</li>
      <li>committals for sentence</li>
      <li>appeals</li>
    </ul>

    {% endif %}

      <p class="govuk-body">We recommend that you use the <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice/the-star-method" class="govuk-link" rel="noreferrer noopener" target="_blank">the STAR (situation, task, action, result) method (opens in a new tab)</a>.</p>

    
    <p class="govuk-body">Do not include the names of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>yourself</li>
      <li>victims</li>
      <li>witnesses</li>
      <li>defendants</li>
      <li>courts</li>
      <li>judges</li>
      <li>operations</li>
    </ul>

    <p class="govuk-body">Your application will be returned for you to change if you include identifying information.</p>

      <form method="post" novalidate>

        <div class="govuk-form-group">
          {{ govukCharacterCount({
            name: "advisoryWork",
            id: "advisoryWork",
            rows: 10,
            value: data['advisoryWork'],
            maxwords: 400,
            label: {
              text: "Evidence of advisory work",
              classes: "govuk-label--m"
            }

          }) }}
        </div>

        {{ govukRadios({
            name: "haveYouCompletedThisSection",
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes, I've completed this section"
              },
              {
                value: "no",
                text: "No, I'll come back to it later"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Save and continue"
          }) }}

      </form>

  </div>
</div>
{% endblock %}