{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      Appreciation of the Role of a Panel Advocate
    </h1>

    <p class="govuk-body">Please explain why you want to be on the CPS Advocate Panel, what you understand the role of a Panel advocate to be, and what qualities you possess which would make you a good prosecution advocate. Refer to the
      <a href="https://www.cps.gov.uk/advocate-panels#sensitivecaseinfo" class="govuk-link" rel="noreferrer noopener"
        target="_blank">Sensitive Identifying Case Information section (opens in new tab)</a>
    </p>

    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        {{ govukTextarea({
          id: "apreciation",
          name: "apreciationExample",
          rows: 10,
          value: data['apreciationExample'],
          label: {
            text: "Example of apreciation",
            classes: "govuk-label--m govuk-visually-hidden"
          },
          hint: {
            text: "You can write up to 400 words."
          }
        }) }}
      </div>

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>


  </div>
</div>
{% endblock %}