{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Additional information
    </h1>

    <p class="govuk-body">Give any information that you consider relevant in support of your application. 
    </p>

    <p class="govuk-body">If you’re giving examples, we recommend that you use the <a href="https://nationalcareers.service.gov.uk/careers-advice/interview-advice/the-star-method" class="govuk-link" rel="noreferrer noopener" target="_blank">the STAR (situation, task, action, result) method (opens in a new tab)</a>.</p>


    <form method="post" novalidate>
      
      <div class="govuk-form-group">
        {{ govukCharacterCount({
          name: "additional-info",
          id: "additionalInfoExample",
          rows: 10,
          value: data['additionalInfoExample'],
          maxwords: 400,
          label: {
            text: "Additional information",
            classes: "govuk-label--m"
          }

        }) }}
      </div>

        {{ govukRadios({
          name: "haveYouCompletedThisSection",
          fieldset: {
            legend: {
              text: "Have you completed this section?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, I've completed this section"
            },
            {
              value: "no",
              text: "No, I'll come back to it later"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

    </form>



  </div>
</div>
{% endblock %}