{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      General Crime Panel
    </h1>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
        Something about levels explanation
      </div>
    </details>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum </a>.
    </p>

    
    <form  method="post">
      <div class="govuk-form-group">
          {{ govukRadios({
            name: "crownCourtLevel",
            fieldset: {
              legend: {
                text: "Select a level:",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "crownCourtLevel1",
                text: "Level 1"
              },
              {
                value: "crownCourtLevel2",
                text: "Level 2"
              },
              {
                value: "crownCourtLevel3",
                text: "Level 3"
              },
              {
                value: "crownCourtLevel4",
                text: "Level 4"
              }
            ]
          }) }}
      </div>

       {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}