<header class="govuk-header cps-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/cps/logo.png"
             class="cps-logo"
             alt="CPS"
             width="160" height="40" />
      </a>
    </div>
    <div class="govuk-header__content"><!-- intentionally empty: no Sign in --></div>
  </div>
</header>