<header class="govuk-header cps-header" role="banner" data-module="govuk-header">

  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
    <img src="/public/images/cps/logo.png" class="cps-logo" alt="CPS"/>
      <span class="govuk-header__product-name font-bold">CPS</span>
      <span data-expression="" class="govuk-header__product-name"> Advocate Panel Application</span>
    </div>
  </div>
</header>