{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/supervisor-status-answer" method="post">

      <h1 class="govuk-heading-l">
        Parents' highest income supervisor
      </h1>

      <p class="govuk-body">If the highest income earner in your household was employed when you were aged 14, did they
        supervise any other employees?</p>

      <div class="govuk-inset-text">
        A supervisor is responsible for overseeing the work of other employees on a day-to-day basis.
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Select supervisor responsability
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="supervisor-status-yes" name="supervisor-status" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="supervisor-status-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="supervisor-status-no" name="supervisor-status" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="supervisor-status-no">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="supervisor-status-dontknow" name="supervisor-status" type="radio"
                value="dontknow">
              <label class="govuk-label govuk-radios__label" for="supervisor-status-dontknow">
                Don't know
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="supervisor-status-notapplicable" name="supervisor-status"
                type="radio" value="notapplicable">
              <label class="govuk-label govuk-radios__label" for="supervisor-status-notapplicable">
                Not applicable
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="supervisor-status-prefernotsay" name="supervisor-status" type="radio"
                value="prefernotsay">
              <label class="govuk-label govuk-radios__label" for="supervisor-status-prefernotsay">
                Prefer not to say
              </label>
            </div>


          </div>
        </fieldset>
      </div>



      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}