{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/occupation-parents-answer" method="post">

      <h1 class="govuk-heading-xl">
        Parents' occupation
      </h1>

      <p class="govuk-body">Which of the following best describes the main occupation held by
        your parents?</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="occupation-parents-hint">
          <div id="occupation-parents-hint" class="govuk-hint">
            Select all that apply
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-modern-occupation-parents"
                name="occupation-parents" type="checkbox" value="modern-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-modern-occupation-parents">
                Modern professional occupation-parents
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-clerical-occupation-parents"
                name="occupation-parents" type="checkbox" value="clerical-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-clerical-occupation-parents">
                Clerical and Intermediate occupation-parents
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-managers-admin" name="occupation-parents"
                type="checkbox" value="managers-admin">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-managers-admin">
                Senior managers and administrators
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-echnical-occupation-parents"
                name="occupation-parents" type="checkbox" value="technical-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-echnical-occupation-parents">
                Technical and craft occupation-parents
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-manual-occupation-parents"
                name="occupation-parents" type="checkbox" value="manual-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-manual-occupation-parents">
                Semi-routine manual and service occupation-parents
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-routine-occupation-parents"
                name="occupation-parents" type="checkbox" value="routine-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-routine-occupation-parents">
                Routine manual and service occupation-parents
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-junior-managers" name="occupation-parents"
                type="checkbox" value="junior-managers">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-junior-managers">
                Middle or Junior Managers
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-professional-occupation-parents"
                name="occupation-parents" type="checkbox" value="professional-occupation-parents">
              <label class="govuk-label govuk-checkboxes__label"
                for="occupation-parents-professional-occupation-parents">
                Traditional professional occupation-parents
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-unemployed" name="occupation-parents"
                type="checkbox" value="unemployed">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-unemployed">
                Long term unemployed
              </label>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-retired" name="occupation-parents"
                type="checkbox" value="retired">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-retired">
                Retired Not applicable
              </label>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-dontknow" name="occupation-parents"
                type="checkbox" value="dontknow">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-dontknow">
                Don't know
              </label>

            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-parents-prefernotsay" name="occupation-parents"
                type="checkbox" value="prefernotsay">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-parents-prefernotsay">
                Prefer not to say
              </label>

            </div>

          </div>
        </fieldset>
      </div>



      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}