{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/occupation-income-answer" method="post">

      <h1 class="govuk-heading-xl">
      Income of the highest earner in the household
      </h1>

      <p class="govuk-body">Thinking back to when you were aged about 14, did the main/highest income earner in your
        household work as an employee or self-employed? </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="occupation-income-hint">
          <div id="occupation-income-hint" class="govuk-hint">
            Select parental employment
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-employee" name="occupation-income"
                type="checkbox" value="employee">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-employee">
                Employee
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-selfemployed-employees"
                name="occupation-income" type="checkbox" value="selfemployed-employees">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-selfemployed-employees">
                Self employed with employees
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-selfemployed-no-employees"
                name="occupation-income" type="checkbox" value="selfemployed-no-employees">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-selfemployed-no-employees">
                Self-employed/freelancer without employees
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-notworking" name="occupation-income"
                type="checkbox" value="notworking">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-notworking">
                Not working
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-dontknow" name="occupation-income"
                type="checkbox" value="dontknow">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-dontknow">
                Don't know
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-notappliacble" name="occupation-income"
                type="checkbox" value="notappliacble">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-notappliacble">
                Not applicable
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="occupation-income-prefernotsay" name="occupation-income"
                type="checkbox" value="prefernotsay">
              <label class="govuk-label govuk-checkboxes__label" for="occupation-income-prefernotsay">
                Prefer not say
              </label>
            </div>
          </div>
        </fieldset>
      </div>



      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}