{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Submit year of call, degree and post-graduate qualifications
    </h1>

    <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>

    <form action="./crown-courts-circuit/crown-courts-select-page.html" method="get" novalidate>



      <!--- Year of call-->


      <h2 class="govuk-heading-m">Year of call</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Date of completion-->

      <h2 class="govuk-heading-m">Date of completion</h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                  name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Institution
        </label>
        <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Course or subject
        </label>
        <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="full-name">
          Results including grades
        </label>
        <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
      </div>


      
      <div class="govuk-button-group">
        <a href="./year-call-degree-qualifications-2.html" role="button" draggable="false" class="govuk-button"
          data-module="govuk-button">
          Save qualification
        </a>

        <button id="clear-address" type="button" class="govuk-button govuk-button--secondary">
          Add new
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}