{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers</h1>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">What describes you</dt>
    <dd class="govuk-summary-list__value">{{ data['whatDescribesYou'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="../question-what-describes-you.html">Change<span class="govuk-visually-hidden">What describes you</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Court panel</dt>
    <dd class="govuk-summary-list__value">{{ data['panel'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./question-court-panel.html">Change<span class="govuk-visually-hidden"> Panel</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Court level</dt>
    <dd class="govuk-summary-list__value">{{ data['levels'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./crown-court-levels.html">Change<span class="govuk-visually-hidden"> Level</span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Membership type</dt>
    <dd class="govuk-summary-list__value">{{ data['membership-type'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./new-joiner-level-2-4.html">Change<span class="govuk-visually-hidden"> Membership</span></a>
    </dd>
  </div>


</dl>

<form action="../start-application-3.html" method="get">
  <button class="govuk-button">Confirm and continue</button>
</form>

{% endblock %}
