{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      References
    </h1>

    <p class="govuk-body">About references</p>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum </a>.
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with references
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">It is the Applicant’s responsibility to secure a referee’s agreement to provide a
          reference and to ensure that the reference is submitted by the deadline. <br><br>The deadline for receipt of
          references is 30th September for applications submitted during the annual September application window.
          Applicants should ensure referees are given sufficient notice (28 days) to allow them sufficient time to write
          and submit the reference. <br>Where references are required (or optional), provision is made to supply the
          appropriate referee details. Referees will be invited by email to access this service and submit a reference
          in support of your application.</p>
        <p class="govuk-body">References can be obtained from any person whom the applicant believes best supports their
          application and is prepared to stand as a referee. The list below provides examples of suitable referees for
          your application & level. </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Pupil Supervisor</li>
          <li>Heads of Chambers</li>
          <li>Chambers Advocacy Trainers</li>
        </ul>
      </div>
    </details>

    <div class="govuk-inset-text">
      <p class="govuk-body">It is the Applicant’s responsibility to secure a referee’s agreement to provide a reference
        and to ensure that the reference is submitted by the deadline. <br><br>The deadline for receipt of references is
        30th September for applications submitted during the annual September application window. Applicants should
        ensure referees are given sufficient notice (28 days) to allow them sufficient time to write and submit the
        reference. <br>Where references are required (or optional), provision is made to supply the appropriate referee
        details. Referees will be invited by email to access this service and submit a reference in support of your
        application.</p>
      <p class="govuk-body">References can be obtained from any person whom the applicant believes best supports their
        application and is prepared to stand as a referee. The list below provides examples of suitable referees for
        your application & level. </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Pupil Supervisor</li>
        <li>Heads of Chambers</li>
        <li>Chambers Advocacy Trainers</li>
      </ul>
    </div>


    <h2 class="govuk-heading-m govuk-!-static-padding-top-5">Referee details</h2>
    <p class="govuk-body">Please provide the details of the referee you wish to use in support of your application.</p>

    <form action="../completed-application.html" method="get" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label" for="name-on-the-account">
          Referee full name
        </label>
        <input class="govuk-input" id="name-on-the-account" name="nameOnTheAccount" type="text" spellcheck="false"
          autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="name-on-the-account">
          Referee job title
        </label>
        <input class="govuk-input" id="name-on-the-account" name="nameOnTheAccount" type="text" spellcheck="false"
          autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="name-on-the-account">
          Referee email address
        </label>
        <div id="roll-number-hint" class="govuk-hint">
          Providing an incorrect email address can cause delays with your reference. CPS referees use the format
          Firstname.Surname@cps.gov.uk
        </div>
        <input class="govuk-input" id="name-on-the-account" name="nameOnTheAccount" type="text" spellcheck="false"
          autocomplete="name">
      </div>


      <h2 class="govuk-heading-m govuk-!-static-padding-top-5">Referee role</h2>
      <p class="govuk-body">The role or capacity in which a referee is acting
        For CPS referees you should select 'CPS Lawyer'.</p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Pupil supervisor
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                value="scotland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Heads of Chambers
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                Chambers Advocacy Trainer
              </label>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Instructing Solicitor
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Leading or opposing Advocate
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Instructing member of other prosecuting authority
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Advocacy Assessor
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Current or retired member of the FT judiciary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Member of the PT judiciary
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                CPS Lawyer
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio"
                value="northern-ireland">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <h2 class="govuk-heading-m govuk-!-static-padding-top-5">Applicant introduction</h2>
      <p class="govuk-body">The text to be sent to the referee in the reference request. You should state why you are
        applying, highlight any cases you have worked on together or other information that could act as a reference
        point for your referee.</p>


      <div class="govuk-form-group">
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
          aria-describedby="more-detail-hint"></textarea>
      </div>





      <button type="submit" class="govuk-button govuk-!-static-margin-right-5" data-module="govuk-button">
        Confirm referee
      </button>

       <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Save referee draft
      </button>




    </form>

  </div>
</div>

{% endblock %}