{% if data.user %}
  {{ appHeader({
    productName: '',
    serviceUrl: '/profile',
    navigation: [
      {
        href: "/profile",
        text: "Account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/profile"
  }) }}

{% else %}
  {{ appHeader({
    productName: '',
    serviceUrl: '/'
  }) }}
{% endif %}