{% set appServiceName = serviceName or "Advocate Panels: Application Portal" %}

<header>
  {{ govukHeader() }}
</header>

{{ govukServiceNavigation({
  serviceName: appServiceName,
  serviceUrl: "/landing-page"
}) }}
