{% if data.user %}
  {% set serviceUrl = 'profile' %}
{% else %}
  {% set serviceUrl = '/' %}
{% endif %}

{% if data.user %}
  {{ appHeader({
    productName: serviceName,
    serviceUrl: '/profile',
    navigation: [
      {
        href: "/profile",
        text: "Account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}
{% else %}
  {{ appHeader({
    productName: serviceName,
    serviceUrl: '/'
  }) }}
{% endif %}