{% macro taskStatus(status) %}
  {% if status == 'completed' %}
    <strong class="govuk-tag govuk-tag--green">Completed</strong>
  {% elif status == 'inProgress' %}
    <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
  {% else %}
    <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
  {% endif %}
{% endmacro %}

{% macro taskStatusText(status) -%}
  {%- if status == 'completed' %}Completed{%- elif status == 'inProgress' %}In progress{%- else %}Incomplete{%- endif %}
{%- endmacro %}

{% macro taskStatusClass(status) -%}
  {%- if status == 'completed' %}govuk-tag--green{%- elif status == 'inProgress' %}govuk-tag--yellow{%- else %}govuk-tag--blue{%- endif %}
{%- endmacro %}