{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Where you work
    </h1>

    <p class="govuk-body">Choose the most appropriate description of your employment type.</p>


      <form method="post" novalidate>

        {{ govukRadios({
          name: "employmentType",
          fieldset: {
            legend: {
              text: "What best describes your employment type?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "memberChambers",
              text: "Member of chambers"
            },
            {
              value: "soleTrader",
              text: "Sole trader"
            },
            {
              value: "solicitorsFirm",
              text: "Member of a solicitors' firm"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

  </div>
</div>

{% endblock %}