{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

      {{ govukRadios({
        name: "employmentType",
        value: data['employmentType'],
        fieldset: {
          legend: {
            text: "Where you work",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Chambers",
            text: "Chambers"
          },
          {
            value: "Sole trader",
            text: "Sole trader"
          },
          {
            value: "Solicitors’ firm",
            text: "Solicitors’ firm"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}