{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}


{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Apply for the CPS Advocate Panel
    </h1>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot
        provide your nationality, you’ll have to send copies of identity documents through the post.
      </div>
    </details>
    <p class="govuk-body">Lorem ipsum loremn ipum lorem</p>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum </a>.
    </p>



      <form action="./question-page-screening-2.html" method="get" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="role-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Select the option that best describes you:
      </legend>

      <div id="role-hint" class="govuk-hint">
        Select one option
      </div>

      <div class="govuk-radios" data-module="govuk-radios">
        <!-- Barrister (no conditional) -->
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="whereDoYouLive"
            name="whereDoYouLive"
            type="radio"
            value="barrister">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Barrister
          </label>
        </div>

        <!-- Solicitor (reveals SRA number) -->
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="whereDoYouLive-2"
            name="whereDoYouLive"
            type="radio"
            value="solicitor"
            data-aria-controls="conditional-whereDoYouLive-2">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Solicitor
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-whereDoYouLive-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="sra-number">
              Solicitors Regulation Authority (SRA) number
            </label>
            <input
              class="govuk-input govuk-!-width-one-third"
              id="sra-number"
              name="sraNumber"
              type="text"
              spellcheck="false"
              autocomplete="off">
          </div>
        </div>

        <!-- Other (reveals free text) -->
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            id="whereDoYouLive-3"
            name="whereDoYouLive"
            type="radio"
            value="other"
            data-aria-controls="conditional-whereDoYouLive-3">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Other
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-whereDoYouLive-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="other-role">
              Please specify your role
            </label>
            <input
              class="govuk-input govuk-!-width-two-thirds"
              id="other-role"
              name="otherRole"
              type="text"
              spellcheck="false"
              autocomplete="off">
          </div>
        </div>
      </div>
    </fieldset>
  </div>



      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>




  </div>
</div>







{% endblock %}