{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Degree and post-graduate qualifications</h1>

    <form method="post" novalidate>

      {{ govukDateInput({
        id: "dateOfCompletion",
        namePrefix: "dateOfCompletion",
        fieldset: {
          legend: {
            text: "Date of completion",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            inputmode: "numeric",
            value: data['dateOfCompletion-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            inputmode: "numeric",
            value: data['dateOfCompletion-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            inputmode: "numeric",
            value: data['dateOfCompletion-year']
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Institution",
          classes: "govuk-label--m"
        },
        id: "institution",
        name: "institution",
        spellcheck: false,
        value: data['institution']
      }) }}

      {{ govukInput({
        label: {
          text: "Course or subject",
          classes: "govuk-label--m"
        },
        id: "courseOrSubject",
        name: "courseOrSubject",
        spellcheck: false,
        value: data['courseOrSubject']
      }) }}

      {{ govukInput({
        label: {
          text: "Grade or result",
          classes: "govuk-label--m"
        },
        id: "gradeOrResult",
        name: "gradeOrResult",
        spellcheck: false,
        value: data['gradeOrResult']
      }) }}

      {{ govukButton({
        text: "Save qualification"
      }) }}

      {{ govukButton({
        text: "Add new",
        classes: "govuk-button--secondary"
      }) }}

    </form>

  </div>
</div>

{% endblock %}