{% extends "layouts/main.html" %}

{% block pageTitle %}
  Call to the bar and pupillage — Finish creating your account —  GOV.UK
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Call to the bar and pupillage</h1>

    <form method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Year of call to the bar",
          classes: "govuk-label--m"
        },
        id: "calledToTheBar",
        name: "calledToTheBar",
        classes: "govuk-input--width-4",
        inputmode: "numeric",
        value: data['calledToTheBar']
      }) }}

      {{ govukDateInput({
        id: "secondSixStartDate",
        namePrefix: "secondSixStartDate",
        fieldset: {
          legend: {
            text: "Start date of ‘second six’",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 31 3 2021"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            inputmode: "numeric",
            value: data['secondSixStartDate-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            inputmode: "numeric",
            value: data['secondSixStartDate-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            inputmode: "numeric",
            value: data['secondSixStartDate-year']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}