{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Civil proceedings
    </h1>

    <p class="govuk-body">Have you ever been the subject of civil proceedings for negligence or breach of trust?</p>

    <form action="./pre-qualification-questionnaire-6.html" method="get">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yesCivilProceedings" name="CivilProceedings" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="yesCivilProceedings">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noCivilProceedings" name="CivilProceedings" type="radio"
                value="No">
              <label class="govuk-label govuk-radios__label" for="noCivilProceedings">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



  </div>
</div>
{% endblock %}