{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      General Crime Panel
    </h1>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
        Lorem ipsum lorem
      </div>
    </details>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum </a>.
    </p>
    <form action="./check-answers.html" method="get" novalidate>


       <div class="govuk-inset-text">
        Entry to the Panel at Level 1 is open to barristers who have reached the 5th month of their 6 months of pulpilage / tenancy and solicitors who have a Higher Court Advocacy qualification.
      </div>


        <div class="govuk-checkboxes__item govuk-!-margin-bottom-6">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          I confirm I have reached at last the fifth....
        </label>
      </div>
      

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Start application
      </button>

    </form>




  </div>
</div>







{% endblock %}