{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Apply for the CPS Advocate Panel
    </h1>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with something
        </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections you’re entitled to vote in.
      </div>
    </details>

    <p class="govuk-body">Lorem ipsum loremn ipum lorem</p>
    <p class="govuk-body">
      Lorem ipsum loremn ipum lorem <a href="#" class="govuk-link">lorem ipsum</a>.
    </p>


 <form action="/solicitor-panel-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Select a panel to apply for:
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="panel-crownCourtGeneralCrime"
                     name="panel"
                     type="radio"
                     value="crownCourtGeneralCrime">
              <label class="govuk-label govuk-radios__label" for="panel-crownCourtGeneralCrime">
                Crown Court General Crime
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="panel-rapeSeriousSexualOffences"
                     name="panel"
                     type="radio"
                     value="rapeSeriousSexualOffences">
              <label class="govuk-label govuk-radios__label" for="panel-rapeSeriousSexualOffences">
                Rape and serious sexual offences
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="panel-specialist"
                     name="panel"
                     type="radio"
                     value="specialist">
              <label class="govuk-label govuk-radios__label" for="panel-specialist">
                Specialist
              </label>
            </div>
             <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="panel-other"
                     name="panel"
                     type="radio"
                     value="other">
              <label class="govuk-label govuk-radios__label" for="panel-other">
                Other
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  

  </div>
</div>
{% endblock %}
