{% extends "layouts/main.html" %}

{% block pageTitle %}
Background disclosure – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Background disclosure</h1>

    <form method="post" novalidate>

      {{ govukRadios({
        name: "criminalInvestigation",
        fieldset: {
          legend: {
            text: "1. Have you ever been the subject of a criminal investigation by the police, Serious Fraud Office or any other prosecuting authority in the United Kingdom or abroad?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['criminalInvestigation'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "criminalInvestigationDetails",
                name: "criminalInvestigationDetails",
                rows: 8,
                value: data['criminalInvestigationDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "criminalOffence",
        fieldset: {
          legend: {
            text: "2. Have you ever been charged with and/or prosecuted for a criminal offence in the United Kingdom or abroad?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['criminalOffence'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "criminalOffenceDetails",
                name: "criminalOffenceDetails",
                rows: 8,
                value: data['criminalOffenceDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "convictionOrCaution",
        fieldset: {
          legend: {
            text: "3. Have you ever been convicted, cautioned, reprimanded or been subject to any out of Court disposals for a criminal offence in the United Kingdom or abroad, or by any court martial?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['convictionOrCaution'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "convictionOrCautionDetails",
                name: "convictionOrCautionDetails",
                rows: 8,
                value: data['convictionOrCautionDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "disciplinaryProceedings",
        fieldset: {
          legend: {
            text: "4. Have you ever been the subject of disciplinary proceedings or enquiry by your professional body, regulator, or any former employer?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['disciplinaryProceedings'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "disciplinaryProceedingsDetails",
                name: "disciplinaryProceedingsDetails",
                rows: 8,
                value: data['disciplinaryProceedingsDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "civilProceedings",
        fieldset: {
          legend: {
            text: "5. Have you ever been the subject of civil proceedings for negligence or breach of trust?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['civilProceedings'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "civilProceedingsDetails",
                name: "civilProceedingsDetails",
                rows: 8,
                value: data['civilProceedingsDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "removalOfInstructions",
        fieldset: {
          legend: {
            text: "6. Has the CPS or other Prosecuting Authority ever had occasion to remove instructions from you?",
            classes: "govuk-fieldset__legend--s govuk-!-font-weight-regular"
          }
        },
        value: data['removalOfInstructions'],
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "removalOfInstructionsDetails",
                name: "removalOfInstructionsDetails",
                rows: 8,
                value: data['removalOfInstructionsDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "no", text: "No" }
        ]
      }) }}

      {{ govukRadios({
        name: "haveYouCompletedThisSection",
        fieldset: {
          legend: {
            text: "Have you completed this section?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "yes", text: "Yes, I've completed this section" },
          { value: "no",  text: "No, I'll come back to it later" }
        ]
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}

    </form>

  </div>
</div>

{% endblock %}