{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Check your answers</h1>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Criminal investigation</dt>
    <dd class="govuk-summary-list__value">{{ data['CriminalInvestigation'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-1.html">Change<span class="govuk-visually-hidden">Criminal investigation</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Criminal offence</dt>
    <dd class="govuk-summary-list__value">{{ data['CriminalOffence'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-2.html">Change<span class="govuk-visually-hidden"> Criminal offence</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Convinction, caution or reprimend</dt>
    <dd class="govuk-summary-list__value">{{ data['convinctionCautionReprimend'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-3.html">Change<span class="govuk-visually-hidden">Convinction, caution or reprimend</span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Disciplinary proceedings</dt>
    <dd class="govuk-summary-list__value">{{ data['DisciplinaryProceedings'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-4.html">Change<span class="govuk-visually-hidden"> Disciplinary proceedings</span></a>
    </dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Civil proceedings</dt>
    <dd class="govuk-summary-list__value">{{ data['CivilProceedings'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-5.html">Change<span class="govuk-visually-hidden"> Civil proceedings</span></a>
    </dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Prosecuting Authority</dt>
    <dd class="govuk-summary-list__value">{{ data['ProsecutingAuthority'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./pre-qualification-questionnaire-6.html">Change<span class="govuk-visually-hidden">   Prosecuting Authority</span></a>
    </dd>
  </div>


</dl>

<form action="../../start-application-6.html" method="get">
  <button class="govuk-button">Confirm and continue</button>
</form>

{% endblock %}
