{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    {% set row1Html %}
      {{ data['CriminalInvestigation'] or "Not provided" }}
      {% if data['CriminalInvestigation'] === "Yes" and data['criminalInvestigationDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['criminalInvestigationDetails'] }}</p>
      {% endif %}
    {% endset %}

    {% set row2Html %}
      {{ data['CriminalOffence'] or "Not provided" }}
      {% if data['CriminalOffence'] === "Yes" and data['criminalOffenceDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['criminalOffenceDetails'] }}</p>
      {% endif %}
    {% endset %}

    {% set row3Html %}
      {{ data['convinctionCautionReprimend'] or "Not provided" }}
      {% if data['convinctionCautionReprimend'] === "Yes" and data['convictionOrCautionDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['convictionOrCautionDetails'] }}</p>
      {% endif %}
    {% endset %}

    {% set row4Html %}
      {{ data['DisciplinaryProceedings'] or "Not provided" }}
      {% if data['DisciplinaryProceedings'] === "Yes" and data['disciplinaryProceedingsDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['disciplinaryProceedingsDetails'] }}</p>
      {% endif %}
    {% endset %}

    {% set row5Html %}
      {{ data['CivilProceedings'] or "Not provided" }}
      {% if data['CivilProceedings'] === "Yes" and data['civilProceedingsDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['civilProceedingsDetails'] }}</p>
      {% endif %}
    {% endset %}

    {% set row6Html %}
      {{ data['ProsecutingAuthority'] or "Not provided" }}
      {% if data['ProsecutingAuthority'] === "Yes" and data['removalOfInstructionsDetails'] %}
        <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0">{{ data['removalOfInstructionsDetails'] }}</p>
      {% endif %}
    {% endset %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Criminal investigation" },
          value: { html: row1Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-1", text: "Change", visuallyHiddenText: "criminal investigation" }] }
        },
        {
          key: { text: "Criminal offence" },
          value: { html: row2Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-2", text: "Change", visuallyHiddenText: "criminal offence" }] }
        },
        {
          key: { text: "Conviction, caution or reprimand" },
          value: { html: row3Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-3", text: "Change", visuallyHiddenText: "conviction, caution or reprimand" }] }
        },
        {
          key: { text: "Disciplinary proceedings" },
          value: { html: row4Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-4", text: "Change", visuallyHiddenText: "disciplinary proceedings" }] }
        },
        {
          key: { text: "Civil proceedings" },
          value: { html: row5Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-5", text: "Change", visuallyHiddenText: "civil proceedings" }] }
        },
        {
          key: { text: "Removal of instructions" },
          value: { html: row6Html },
          actions: { items: [{ href: "/year-call-degree-qualifications/mini-questionnaire/pre-qualification-questionnaire-6", text: "Change", visuallyHiddenText: "removal of instructions" }] }
        }
      ]
    }) }}

    <form method="post" novalidate>
      {{ govukButton({ text: "Save and continue" }) }}
    </form>

  </div>
</div>
{% endblock %}