{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Criminal offence
    </h1>

    <p class="govuk-body">Have you ever been charged with and/or prosecuted for a criminal offence in the United Kingdom or abroad?</p>

    <form action="./pre-qualification-questionnaire-3.html" method="get">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yesCriminalOffence" name="CriminalOffence" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="yesCriminalOffence">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noCriminalOffence" name="CriminalOffence" type="radio"
                value="No">
              <label class="govuk-label govuk-radios__label" for="noCriminalOffence">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



  </div>
</div>
{% endblock %}