{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Criminal offence
    </h1>

    <p class="govuk-body">Have you ever been charged with or prosecuted for a criminal offence in the United Kingdom or abroad?</p>

     <form method="post" novalidate>

      {{ govukRadios({
        name: "CriminalOffence",
        fieldset: {
          legend: {
            text: "Have you ever been charged with and/or prosecuted for a criminal offence in the United Kingdom or abroad?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s govuk-visually-hidden"
          }
        },
        value: data['CriminalOffence'],
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "criminalOffenceDetails",
                name: "criminalOffenceDetails",
                rows: 8,
                value: data['criminalOffenceDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "No", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}

    </form>



  </div>
</div>
{% endblock %}