{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Criminal investigation
    </h1>

    <p class="govuk-body">Have you ever been the subject of a criminal investigation by the police, Serious Fraud Office
      or any other prosecuting authority in the United Kingdom or abroad?</p>

    <form method="post" novalidate>

      {{ govukRadios({
        name: "CriminalInvestigation",
        fieldset: {
          legend: {
            text: "Have you ever been the subject of a criminal investigation by the police, Serious Fraud Office or any other prosecuting authority in the United Kingdom or abroad?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s govuk-visually-hidden"
          }
        },
        value: data['CriminalInvestigation'],
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "criminalInvestigationDetails",
                name: "criminalInvestigationDetails",
                rows: 8,
                value: data['criminalInvestigationDetails'],
                label: { text: "Anonymised details including dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "No", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>



  </div>
</div>
{% endblock %}