{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Disciplinary proceedings
    </h1>

    <p class="govuk-body">Have you ever been the subject of disciplinary proceedings or enquiry by your professional body, regulator or a former employer?</p>

    <form method="post" novalidate>

      {{ govukRadios({
        name: "DisciplinaryProceedings",
        fieldset: {
          legend: {
            text: "Have you ever been the subject of disciplinary proceedings or enquiry by your professional body, regulator, or any former employer?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s govuk-visually-hidden"
          }
        },
        value: data['DisciplinaryProceedings'],
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: govukTextarea({
                id: "disciplinaryProceedingsDetails",
                name: "disciplinaryProceedingsDetails",
                rows: 8,
                value: data['disciplinaryProceedingsDetails'],
                label: { text: "Provide full anonymised details and dates", classes: "govuk-label--s" }
              })
            }
          },
          { value: "No", text: "No" }
        ]
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}

    </form>


  </div>
</div>
{% endblock %}