{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Current Chambers or Solicitors firm
    </h1>


    <p class="govuk-body">Select the most appropriate description of your employment type.</p>


    <form action="/employmentType-answer" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="employmentType-memberChambers"
                     name="employmentType"
                     type="radio"
                     value="memberChambers">
              <label class="govuk-label govuk-radios__label" for="employmentType-memberChambers">
                Member of Chambers
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="employmentType-soleTrader"
                     name="employmentType"
                     type="radio"
                     value="soleTrader">
              <label class="govuk-label govuk-radios__label" for="employmentType-soleTrader">
                   Sole Trader
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
                     id="employmentType-solicitorsFirm"
                     name="employmentType"
                     type="radio"
                     value="solicitorsFirm">
              <label class="govuk-label govuk-radios__label" for="employmentType-solicitorsFirm">
                Member of a Solicitors' firm
              </label>
            </div>
            

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}