{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
  {% include "_includes/header-internal.njk" %}
{% endblock %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Check your answers</h1>

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Advocacy</dt>
    <dd class="govuk-summary-list__value">{{ data['advocacy'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./examples-work-1.html">Change<span class="govuk-visually-hidden">Advocacy</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Advisory work</dt>
    <dd class="govuk-summary-list__value">{{ data['advisoryWork'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./examples-work-2.html">Change<span class="govuk-visually-hidden"> Advisory work</span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Other Relevant Knowledge, Skills & Experience</dt>
    <dd class="govuk-summary-list__value">{{ data['otherRelevantKnowledge'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./examples-work-3.html">Change<span class="govuk-visually-hidden">Other Relevant Knowledge</span></a>
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Appreciation of the Role of a Panel Advocate</dt>
    <dd class="govuk-summary-list__value">{{ data['apprciationRole'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./examples-work-4.html">Change<span class="govuk-visually-hidden"> Appreciation of the Role</span></a>
    </dd>
  </div>

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Additional information</dt>
    <dd class="govuk-summary-list__value">{{ data['additionalInfo'] }}</dd>
    <dd class="govuk-summary-list__actions">
      <a href="./examples-work-5.html">Change<span class="govuk-visually-hidden"> Additional information</span></a>
    </dd>
  </div>


</dl>

<form action="../../start-application-5.html" method="get">
  <button class="govuk-button">Confirm and continue</button>
</form>

{% endblock %}
