{% extends "layouts/main.html" %}

{% block pageTitle %}
  Equalities monitoring – Apply for the CPS Advocate Panel – GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>

      <h1 class="govuk-heading-l">Equalities monitoring</h1>


      {# ======================================================
         SEX AND GENDER
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Sex and gender</h2>

      {{ govukRadios({
        name: "sexOrientation",
        value: data['sexOrientation'],
        fieldset: {
          legend: { text: "What is your sex?", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "female",       text: "Female" },
          { value: "male",         text: "Male" },
          { value: "prefernotsay", text: "Prefer not to say" }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Gender</h2>

      {{ govukRadios({
        name: "genderbirth",
        value: data['genderbirth'],
        fieldset: {
          legend: { text: "Is the gender you identify with the same as your sex registered at birth?", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "yes", text: "Yes" },
          {
            value: "no",
            text: "No",
            conditional: {
              html: govukInput({
                label: { text: "What is your gender?" },
                id: "genderIdentity",
                name: "genderIdentity",
                value: data['genderIdentity']
              })
            }
          },
          { value: "prefernotsay", text: "Prefer not to say" }
        ]
      }) }}


      {# ======================================================
         AGE GROUP
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Age group</h2>

      {{ govukRadios({
        name: "ageGroup",
        value: data['ageGroup'],
        fieldset: {
          legend: { text: "Which age group do you belong to?", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "24-and-under",    text: "24 and under" },
          { value: "25-34",           text: "25–34" },
          { value: "35-44",           text: "35–44" },
          { value: "45-54",           text: "45–54" },
          { value: "55-64",           text: "55–64" },
          { value: "65-plus",         text: "65+" },
          { value: "prefer-not-to-say", text: "Prefer not to say" }
        ]
      }) }}


      {# ======================================================
         NATIONALITY
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Nationality</h2>

      {{ govukCheckboxes({
        name: "nationality",
        values: data['nationality'],
        fieldset: {
          legend: { text: "Select all that apply", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "british",          text: "British" },
          { value: "english",          text: "English" },
          { value: "scottish",         text: "Scottish" },
          { value: "welsh",            text: "Welsh" },
          { value: "northern-irish",   text: "Northern Irish" },
          { value: "irish",            text: "Irish" },
          { value: "irish-traveller",  text: "Irish Traveller Community" },
          { value: "gypsy-roma",       text: "Gypsy Roma" },
          { value: "dual",             text: "Dual Nationality" },
          { value: "other",            text: "Other" },
          { value: "prefer-not-to-say", text: "Prefer not to say" }
        ]
      }) }}


      {# ======================================================
         SEXUAL ORIENTATION
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Sexual orientation</h2>

      {{ govukRadios({
        name: "sexualOrientation",
        value: data['sexualOrientation'],
        fieldset: {
          legend: { text: "Which of the following best describes your sexual orientation?", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "straight-heterosexual", text: "Heterosexual" },
          { value: "gay",                   text: "Gay" },
          { value: "lesbian",               text: "Lesbian" },
          { value: "bisexual",              text: "Bisexual" },
          { value: "other",                 text: "Other" },
          { value: "prefer-not-to-say",     text: "Prefer not to say" }
        ]
      }) }}


      {# ======================================================
         RELIGION
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Religion</h2>

      {{ govukRadios({
        name: "religion",
        value: data['religion'],
        fieldset: {
          legend: { text: "What is your religion?", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "agnostic",      text: "Agnostic" },
          { value: "atheist",       text: "Atheist" },
          { value: "bahai",         text: "Bahai" },
          { value: "buddhist",      text: "Buddhist" },
          { value: "christian",     text: "Christian" },
          { value: "hindu",         text: "Hindu" },
          { value: "humanist",      text: "Humanist" },
          { value: "jain",          text: "Jain" },
          { value: "jewish",        text: "Jewish" },
          { value: "muslim",        text: "Muslim" },
          { value: "pagan",         text: "Pagan" },
          { value: "rastafarian",   text: "Rastafarian" },
          { value: "scientologist", text: "Scientologist" },
          { value: "shinto",        text: "Shinto" },
          { value: "sikh",          text: "Sikh" },
          { value: "zoroastrian",   text: "Zoroastrian" },
          { value: "no-religion",   text: "No religion or belief" },
          { value: "other",         text: "Other" },
          { value: "prefer-not-to-say", text: "Prefer not to say" }
        ]
      }) }}


      {# ======================================================
         ETHNIC GROUP
      ====================================================== #}

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Ethnic group</h2>

      {{ govukCheckboxes({
        name: "ethnicity",
        values: data['ethnicity'],
        fieldset: {
          legend: { text: "What is your ethnic group? Select all that apply.", classes: "govuk-fieldset__legend--s" }
        },
        items: [
          { value: "Asian or Asian British", text: "Asian or Asian British" },
          { value: "asian-bangladeshi",  text: "Bangladeshi" },
          { value: "asian-indian",       text: "Indian" },
          { value: "asian-pakistani",    text: "Pakistani" },
          { value: "asian-chinese",      text: "Chinese" },
          { value: "asian-any-other",    text: "Any other Asian background" },
          { value: "Black, Black British, Caribbean or African", text: "Black, Black British, Caribbean or African" },
          { value: "black-african",      text: "African" },
          { value: "black-caribbean",    text: "Caribbean" },
          { value: "black-any-other",    text: "Any other Black background" },
          { value: "Mixed or multiple ethnic groups", text: "Mixed or multiple ethnic groups" },
          { value: "mixed-black-african-white",    text: "Black African and White" },
          { value: "mixed-black-caribbean-white",  text: "Black Caribbean and White" },
          { value: "mixed-other",                  text: "Any other Mixed background" },
          { value: "White", text: "White" },
          { value: "white-english",              text: "English" },
          { value: "white-scottish",             text: "Scottish" },
          { value: "white-welsh",                text: "Welsh" },
          { value: "white-northern-irish",       text: "Northern Irish" },
          { value: "white-irish",                text: "Irish" },
          { value: "white-british",              text: "British" },
          { value: "white-gypsy-or-irish-traveller", text: "Gypsy or Irish Traveller" },
          { value: "white-roma",                 text: "Roma" },
          { value: "white-any-other",            text: "Any other White background" },
          { value: "Other ethnic group", text: "Other ethnic group" },
          { value: "other-arab",             text: "Arab" },
          { value: "other-other",            text: "Other" },
          { value: "other-prefer-not-to-say", text: "Prefer not to say" }
        ]
      }) }}


      {{ govukButton({ text: "Continue" }) }}

    </form>
  </div>
</div>
{% endblock %}