{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>

      <h1 class="govuk-heading-l">
        Equalities monitoring
      </h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Sex and gender</h2>
      <!-- What best describes you-->
      <!-- <p class="govuk-body">Which of the following best describes you:</p> -->
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-visually-hidden"> What is your sex?</legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="female" name="sexOrientation" type="radio" value="female">
              <label class="govuk-label govuk-radios__label" for="female">Female</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="male" name="sexOrientation" type="radio" value="male">
              <label class="govuk-label govuk-radios__label" for="male">Male</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prefernotsay" name="sexOrientation" type="radio"
                value="prefernotsay">
              <label class="govuk-label govuk-radios__label" for="prefernotsay">Prefer not to say</label>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- Describe yourself gender -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Gender</h2>
      <p class="govuk-body">
        Is the gender you identify with the same as your sex registered at birth?
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-visually-hidden">
            Gender
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <!-- Yes -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="genderbirth-yes" name="genderbirth" type="radio" value="yes" />
              <label class="govuk-label govuk-radios__label" for="genderbirth-yes">
                Yes
              </label>
            </div>

            <!-- No (reveals text input) -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="genderbirth-no" name="genderbirth" type="radio" value="no"
                data-aria-controls="conditional-genderbirth-no" />
              <label class="govuk-label govuk-radios__label" for="genderbirth-no">
                No
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-genderbirth-no">
              <div class="govuk-form-group">
                <label class="govuk-label" for="genderIdentity">
                  What is your gender?
                </label>
                <input class="govuk-input" id="genderIdentity" name="genderIdentity" type="text" spellcheck="false"
                  autocomplete="sex" />
              </div>
            </div>

            <!-- Prefer not to say -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="genderbirth-prefer-not-to-say" name="genderbirth" type="radio"
                value="prefernotsay" />
              <label class="govuk-label govuk-radios__label" for="genderbirth-prefer-not-to-say">
                Prefer not to say
              </label>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- Age group -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Age group</h2>
      <p class="govuk-body">Which age group do you belong to?</p>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-visually-hidden">Age group</legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-24-under" name="ageGroup" type="radio" value="24-and-under">
              <label class="govuk-label govuk-radios__label" for="age-24-under">24 and under</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-25-34" name="ageGroup" type="radio" value="25-34">
              <label class="govuk-label govuk-radios__label" for="age-25-34">25-34</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-35-44" name="ageGroup" type="radio" value="35-44">
              <label class="govuk-label govuk-radios__label" for="age-35-44">35-44</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-45-54" name="ageGroup" type="radio" value="45-54">
              <label class="govuk-label govuk-radios__label" for="age-45-54">45-54</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-55-64" name="ageGroup" type="radio" value="55-64">
              <label class="govuk-label govuk-radios__label" for="age-55-64">55-64</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-65-plus" name="ageGroup" type="radio" value="65-plus">
              <label class="govuk-label govuk-radios__label" for="age-65-plus">65+</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="age-prefer-not" name="ageGroup" type="radio"
                value="prefer-not-to-say">
              <label class="govuk-label govuk-radios__label" for="age-prefer-not">Prefer not to say</label>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Nationality -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Nationality</h2>
      <p class="govuk-body">Select all that apply</p>

      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-british" name="nationality" type="checkbox"
                    value="british">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-british">British</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-english" name="nationality" type="checkbox"
                    value="english">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-english">English</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-gypsy-roma" name="nationality" type="checkbox"
                    value="gypsy-roma">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-gypsy-roma">Gypsy Roma</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-irish" name="nationality" type="checkbox"
                    value="irish">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-irish">Irish</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-irish-traveller" name="nationality"
                    type="checkbox" value="irish-traveller">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-irish-traveller">Irish Traveller
                    Community</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-northern-irish" name="nationality"
                    type="checkbox" value="northern-irish">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-northern-irish">Northern
                    Irish</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-scottish" name="nationality" type="checkbox"
                    value="scottish">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-scottish">Scottish</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-welsh" name="nationality" type="checkbox"
                    value="welsh">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-welsh">Welsh</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-dual" name="nationality" type="checkbox"
                    value="dual">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-dual">Dual Nationality</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-other" name="nationality" type="checkbox"
                    value="other">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-other">Other</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="nationality-prefer-not" name="nationality" type="checkbox"
                    value="prefer-not-to-say">
                  <label class="govuk-label govuk-checkboxes__label" for="nationality-prefer-not">Prefer not to
                    say</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>


      <!-- Sexual orientation -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Sexual orientation</h2>
      <p class="govuk-body">Which of the following best describes your sexual orientation?</p>

      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-straight" name="sexualOrientation" type="checkbox"
                    value="straight-heterosexual">
                  <label class="govuk-label govuk-checkboxes__label" for="so-straight">Heterosexual</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-gay-lesbian" name="sexualOrientation" type="checkbox"
                    value="gay-lesbian">
                  <label class="govuk-label govuk-checkboxes__label" for="so-gay-lesbian">Gay</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-bisexual" name="sexualOrientation" type="checkbox"
                    value="bisexual">
                  <label class="govuk-label govuk-checkboxes__label" for="so-bisexual">Lesbian</label>
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-other" name="sexualOrientation" type="checkbox"
                    value="other">
                  <label class="govuk-label govuk-checkboxes__label" for="so-other">Bisexual</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-prefer-not" name="sexualOrientation" type="checkbox"
                    value="prefer-not-to-say">
                  <label class="govuk-label govuk-checkboxes__label" for="so-prefer-not">Other</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="so-prefer-not" name="sexualOrientation" type="checkbox"
                    value="prefer-not-to-say">
                  <label class="govuk-label govuk-checkboxes__label" for="so-prefer-not">Prefer not to say</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Religion -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Religion</h2>
      <p class="govuk-body">What is your religion?</p>

      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-agnostic" name="religion" type="checkbox"
                    value="agnostic">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-agnostic">Agnostic</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-atheist" name="religion" type="checkbox"
                    value="atheist">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-atheist">Atheist</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-bahai" name="religion" type="checkbox"
                    value="bahai">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-bahai">Bahai</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-buddhist" name="religion" type="checkbox"
                    value="buddhist">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-buddhist">Buddhist</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-christian" name="religion" type="checkbox"
                    value="christian">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-christian">Christian</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-hindu" name="religion" type="checkbox"
                    value="hindu">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-hindu">Hindu</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-humanist" name="religion" type="checkbox"
                    value="humanist">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-humanist">Humanist</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-jain" name="religion" type="checkbox"
                    value="jain">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-jain">Jain</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-jewish" name="religion" type="checkbox"
                    value="jewish">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-jewish">Jewish</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-muslim" name="religion" type="checkbox"
                    value="muslim">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-muslim">Muslim</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-pagan" name="religion" type="checkbox"
                    value="pagan">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-pagan">Pagan</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-rastafarian" name="religion" type="checkbox"
                    value="rastafarian">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-rastafarian">Rastafarian</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-scientologist" name="religion" type="checkbox"
                    value="scientologist">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-scientologist">Scientologist</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-shinto" name="religion" type="checkbox"
                    value="shinto">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-shinto">Shinto</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-sikh" name="religion" type="checkbox"
                    value="sikh">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-sikh">Sikh</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-zoroastrian" name="religion" type="checkbox"
                    value="zoroastrian">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-zoroastrian">Zoroastrian</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-none" name="religion" type="checkbox"
                    value="no-religion">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-none">No religion or belief</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-prefer-not" name="religion" type="checkbox"
                    value="prefer-not-to-say">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-prefer-not">Prefer not to say</label>
                </div>
              </div>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="religion-other" name="religion" type="checkbox"
                    value="other">
                  <label class="govuk-label govuk-checkboxes__label" for="religion-other">Other</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <!-- Ethnic group -->
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Ethnic group</h2>
      <p class="govuk-body">What is your ethnic group?</p>

      <!-- Asian -->
      <h3 class="govuk-heading-s govuk-!-margin-0">Asian</h3>
      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-asian-bangladeshi" name="ethnicity"
                    type="checkbox" value="asian-bangladeshi">
                  <label class="govuk-label govuk-checkboxes__label"
                    for="ethnicity-asian-bangladeshi">Bangladeshi</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-asian-indian" name="ethnicity" type="checkbox"
                    value="asian-indian">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-asian-indian">Indian</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-asian-pakistani" name="ethnicity" type="checkbox"
                    value="asian-pakistani">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-asian-pakistani">Pakistani</label>
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-asian-chinese" name="ethnicity" type="checkbox"
                    value="asian-chinese">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-asian-chinese">Chinese</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-asian-any-other" name="ethnicity" type="checkbox"
                    value="asian-any-other">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-asian-any-other">Any other Asian
                    background</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <!-- Black -->
      <h3 class="govuk-heading-s govuk-!-margin-0">Black</h3>
      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-black-african" name="ethnicity" type="checkbox"
                    value="black-african">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-black-african">African</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-black-caribbean" name="ethnicity" type="checkbox"
                    value="black-caribbean">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-black-caribbean">Caribbean</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-black-any-other" name="ethnicity" type="checkbox"
                    value="black-any-other">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-black-any-other">Any other</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- White -->
      <h3 class="govuk-heading-s govuk-!-margin-0">White</h3>
      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-english" name="ethnicity" type="checkbox"
                    value="white-english">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-english">English</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-scottish" name="ethnicity" type="checkbox"
                    value="white-scottish">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-scottish">Scottish</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-welsh" name="ethnicity" type="checkbox"
                    value="white-welsh">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-welsh">Welsh</label>
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-irish" name="ethnicity" type="checkbox"
                    value="white-irish">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-irish">Irish</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-northern-irish" name="ethnicity"
                    type="checkbox" value="white-northern-irish">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-northern-irish">Northern
                    Irish</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-british" name="ethnicity" type="checkbox"
                    value="white-british">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-british">British</label>
                </div>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-gypsy-irish-traveller" name="ethnicity"
                    type="checkbox" value="white-gypsy-or-irish-traveller">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-gypsy-irish-traveller">Gypsy
                    or Irish Traveller</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-roma" name="ethnicity" type="checkbox"
                    value="white-roma">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-roma">Roma</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-white-any-other" name="ethnicity" type="checkbox"
                    value="white-any-other">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-white-any-other">Any other</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Mixed -->
      <h3 class="govuk-heading-s govuk-!-margin-0">Mixed</h3>
      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-mixed-black-african-white" name="ethnicity"
                    type="checkbox" value="mixed-black-african-white">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-mixed-black-african-white">Black
                    African and White</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-mixed-black-caribbean-white" name="ethnicity"
                    type="checkbox" value="mixed-black-caribbean-white">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-mixed-black-caribbean-white">Black
                    Caribbean and White</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-mixed-other" name="ethnicity" type="checkbox"
                    value="mixed-other">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-mixed-other">Any other</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Other -->
      <h3 class="govuk-heading-s govuk-!-margin-0">Other</h3>
      <table class="govuk-table equal-width-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-other-arab" name="ethnicity" type="checkbox"
                    value="other-arab">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-other-arab">Arab</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-other-other" name="ethnicity" type="checkbox"
                    value="other-other">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-other-other">Other</label>
                </div>
              </div>
            </td>
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ethnicity-other-prefer-not" name="ethnicity"
                    type="checkbox" value="other-prefer-not-to-say">
                  <label class="govuk-label govuk-checkboxes__label" for="ethnicity-other-prefer-not">Prefer not to
                    say</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}