{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>

      <h1 class="govuk-heading-l">
        How many peole were employed on the parents' company?
      </h1>

      <p class="govuk-body">If the highest income earner in your household was employed when you were aged 14, how many
        people worked for their employer?</p>
      <p class="govuk-body">If they were self-employed and employed other people, how many people did they employ?</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Select number of employees
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="number-employees-oneto24" name="number-employees" type="radio"
                value="oneto24">
              <label class="govuk-label govuk-radios__label" for="number-employees-oneto24">
                1-24
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="number-employees-25more" name="number-employees" type="radio"
                value="25more">
              <label class="govuk-label govuk-radios__label" for="number-employees-25more">
                25 or more
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="number-employees-dontknow" name="number-employees" type="radio"
                value="dontknow">
              <label class="govuk-label govuk-radios__label" for="number-employees-dontknow">
                Don't know
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="number-employees-notapplicable" name="number-employees"
                type="radio" value="notapplicable">
              <label class="govuk-label govuk-radios__label" for="number-employees-notapplicable">
                Not applicable
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="number-employees-prefernotsay" name="number-employees" type="radio"
                value="prefernotsay">
              <label class="govuk-label govuk-radios__label" for="number-employees-prefernotsay">
                Prefer not to say
              </label>
            </div>


          </div>
        </fieldset>
      </div>



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}