{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/parents-qualifications-answers" method="post">

      <h1 class="govuk-heading-l">
        Parents' qualifications
      </h1>


      <!-- Age group -->
      <p class="govuk-body">Which of the following best describes the level of qualifications your parents held/hold?</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="parents-qualifications-hint">
           <div id="parents-qualifications-hint" class="govuk-hint">
            Select parental qualifications 
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-below-degree" name="parents-qualifications" type="radio" value="below-degree"
                aria-describedby="parents-qualifications-below-degree-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-below-degree">
                Qualifications below degree level  
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-no-formal-qualifications" name="parents-qualifications" type="radio" value="no-formal-qualifications"
                aria-describedby="parents-qualifications-no-formal-qualifications-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-no-formal-qualifications">
                No formal qualifications  
              </label>
            </div>
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-no-dontknow" name="parents-qualifications" type="radio" value="no-dontknow"
                aria-describedby="parents-qualifications-no-dontknow-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-no-dontknow">
               Don't know  
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-notapplicable" name="parents-qualifications" type="radio" value="notapplicable"
                aria-describedby="parents-qualifications-notapplicable-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-notapplicable">
                Not applicable
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-prefernotsay" name="parents-qualifications" type="radio" value="prefernotsay"
                aria-describedby="parents-qualifications-prefernotsay-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-prefernotsay">
               Prefer not to say  
              </label>
            </div>
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parents-qualifications-dat-least-one" name="parents-qualifications" type="radio" value="at-least-one"
                aria-describedby="parents-qualifications-at-least-one-item-hint">
              <label class="govuk-label govuk-radios__label" for="parents-qualifications-at-least-one">
               At least one has a degree level qualification 
              </label>
            </div>

            <!-- Other option -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="other" name="parents-qualifications" type="radio" value="other"
                data-aria-controls="conditional-other">
              <label class="govuk-label govuk-radios__label" for="other">
                Other
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-other">
              <div class="govuk-form-group" id="other-form-group">
                <label class="govuk-label" for="other-input">
                  Please specify
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="other-input" name="other" type="text"
                  inputmode="text"
                  aria-describedby="other-hint other-error" autocomplete="off">
              </div>
            </div>

          </div>
        </fieldset>
      </div>


      <button type="submit" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}