{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}
{% include "_includes/header-internal.njk" %}

<style>
  /* Make all 3-column GOV.UK tables have equal-width columns */
  .equal-width-table {
    table-layout: fixed;
    width: 100%;
  }

  .equal-width-table th,
  .equal-width-table td {
    width: 33.3333%;
  }

  .govuk-table__header,
  .govuk-table__cell {
    width: 200px;
  }
</style>
{% endblock %}

{% block pageTitle %}
Member of Chambers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>

      <h1 class="govuk-heading-l">
        Free school meals
      </h1>

      <p class="govuk-body">If you finished school after 1980, were you eligible for Free School Meals at any point during your school years? </p>

      <div class="govuk-inset-text">
        Free School Meals are a statutory benefit available to school-aged children from families who receive other qualifying benefits and who have been through the relevant registration process. It does not include those who receive meals at school through other means (e.g. boarding school).
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
           Select free school meals  
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="school-meals-yes" name="school-meals" type="radio"
                value="yes">
              <label class="govuk-label govuk-radios__label" for="school-meals-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="school-meals-no" name="school-meals" type="radio"
                value="no">
              <label class="govuk-label govuk-radios__label" for="school-meals-no">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="school-meals-dontknow" name="school-meals" type="radio"
                value="dontknow">
              <label class="govuk-label govuk-radios__label" for="school-meals-dontknow">
                Don't know
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="school-meals-notapplicable" name="school-meals"
                type="radio" value="notapplicable">
              <label class="govuk-label govuk-radios__label" for="school-meals-notapplicable">
                Not applicable
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="school-meals-prefernotsay" name="school-meals" type="radio"
                value="prefernotsay">
              <label class="govuk-label govuk-radios__label" for="school-meals-prefernotsay">
                Prefer not to say
              </label>
            </div>


          </div>
        </fieldset>
      </div>



      {{ govukButton({
        text: "Continue"
      }) }}
      
    </form>
  </div>
</div>

{% endblock %}