{% extends "layouts/main.html" %}

{% block pageTitle %}
  Name and bar number — Finish creating your account — GOV.UK
{% endblock %}

{% block containerStart %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Name and bar number</h1>

    <form method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Full name",
          classes: "govuk-label--m"
        },
        id: "fullName",
        name: "fullName",
        value: data['fullName']
      }) }}

      {{ govukInput({
        label: {
          text: "Bar number",
          classes: "govuk-label--m"
        },
        hint: {
          text: "This is a 5 digit number. It is not the same as your bar ID."
        },
        id: "barNumber",
        name: "barNumber",
        classes: "govuk-input--width-10",
        value: data['barNumber']
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}