{% extends "layouts/main.html" %}
{% block pageTitle %}Check your answers – {{ serviceName }} – GOV.UK Prototype Kit{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: returnUrl or "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <h3 class="govuk-heading-m">Name and bar number</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Full name" },
          value: { text: data['fullName'] or "Not provided" },
          actions: {
            items: [{
              href: "/personal-details/personal-details?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "full name"
            }]
          }
        },
        {
          key: { text: "Bar number" },
          value: { text: data['barNumber'] or "Not provided" },
          actions: {
            items: [{
              href: "/personal-details/personal-details?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "bar number"
            }]
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m">Where you work</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Employment type" },
          value: { text: data['employmentType'] or "Not provided" },
          actions: {
            items: [{
              href: "/current-chambers/employment-type?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "employment type"
            }]
          }
        },
        {
          key: { text: "Chambers" },
          value: { text: data['chambersName'] or "Not provided" },
          actions: {
            items: [{
              href: "/current-chambers/name-chambers?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "chambers"
            }]
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m">Preferred circuits and Crown Courts</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Primary circuit" },
          value: { text: data['preferredCircuit'] or "Not provided" },
          actions: {
            items: [{
              href: "/preferred-circuit/circuit-question-page?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "primary circuit"
            }]
          }
        },
        {
          key: { text: "Secondary circuit" },
          value: { text: data['secondaryCircuit'] or "Not provided" },
          actions: {
            items: [{
              href: "/preferred-circuit/circuit-question-page?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "secondary circuit"
            }]
          }
        },
        {
          key: { text: "Preferred Crown Courts" },
          value: { text: data['preferredCrownCourts'] or "Not provided" },
          actions: {
            items: [{
              href: "/preferred-circuit/crown-courts-circuit/crown-courts-select-page?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "preferred Crown Courts"
            }]
          }
        }
      ]
    }) }}

    <h3 class="govuk-heading-m">Call to the bar and pupillage</h3>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Called to the bar" },
          value: { text: data['calledToTheBar'] or "Not provided" },
          actions: {
            items: [{
              href: "/year-call-degree-qualifications/year-call?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "called to the bar"
            }]
          }
        },
          {
          key: { text: "Start date of 'second six'" },
          value: { html: data | isoDateFromDateInput("secondSixStartDate") | govukDate or "Not provided" },
          actions: {
            items: [{
              href: "/year-call-degree-qualifications/year-call?returnUrl=/check",
              text: "Change",
              visuallyHiddenText: "start date of second six"
            }]
          }
        }
      ]
    }) }}

    
    <h3 class="govuk-heading-m">Degree and post-graduate qualifications</h3>

    {% if data['degreeQualifications'] and data['degreeQualifications'].length %}
      {% for qual in data['degreeQualifications'] %}

        {% if data['degreeQualifications'].length > 1 %}
          <h4 class="govuk-heading-s">Qualification {{ loop.index }}</h4>
        {% endif %}

        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Institution" },
              value: { text: qual.institution or "Not provided" },
              actions: {
                items: [{
                  href: "/year-call-degree-qualifications/degree-qualifications?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "institution, qualification " + loop.index
                }]
              }
            },
            {
              key: { text: "Course or subject" },
              value: { text: qual.courseOrSubject or "Not provided" },
              actions: {
                items: [{
                  href: "/year-call-degree-qualifications/degree-qualifications?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "course or subject, qualification " + loop.index
                }]
              }
            },
            {
              key: { text: "Grade or result" },
              value: { text: qual.gradeOrResult or "Not provided" },
              actions: {
                items: [{
                  href: "/year-call-degree-qualifications/degree-qualifications?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "grade or result, qualification " + loop.index
                }]
              }
            },
            {
              key: { text: "Date of completion" },
              value: { text: (qual.dateDay + "/" + qual.dateMonth + "/" + qual.dateYear) if (qual.dateDay and qual.dateMonth and qual.dateYear) else "Not provided" },
              actions: {
                items: [{
                  href: "/year-call-degree-qualifications/degree-qualifications?returnUrl=/check",
                  text: "Change",
                  visuallyHiddenText: "date of completion, qualification " + loop.index
                }]
              }
            }
          ]
        }) }}

      {% endfor %}
    {% else %}
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Qualifications" },
            value: { text: "Not provided" },
            actions: {
              items: [{
                href: "/year-call-degree-qualifications/degree-qualifications?returnUrl=/check",
                text: "Add",
                visuallyHiddenText: "degree qualifications"
              }]
            }
          }
        ]
      }) }}
    {% endif %}

    <form action="/check" method="post" novalidate>
      {{ govukButton({
        text: "Save and confirm"
      }) }}
    </form>

  </div>
</div>

{% endblock %}