{% extends "layouts/main.html" %}
{% block pageTitle %}Your MTD property tasks{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: returnUrl or "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate></form>

      <h1 class="govuk-heading-l">Check your answers</h1>


        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name and bar number"
            },
            value: {
              text: "xxxxxxxxx"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name and bar number"
                }
              ]
            }
          },
          {
            key: {
              text: "Where you work"
            },
            value: {
              text: "xxxxxxxxx"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "where you work"
                }
              ]
            }
          },
          {
            key: {
              text: "Preferred circuits and Crown Courts  "
            },
            value: {
              html: "xxxxxxxxx"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "preferred circuits and Crown Courts"
                }
              ]
            }
          },
          {
            key: {
              text: "Qualifications"
            },
            value: {
              html: 'xxxxxxxx'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "qualifications"
                }
              ]
            }
          },
           {
            key: {
              text: "Equality monitoring"
            },
            value: {
              html: 'xxxxxxxx'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "equality monitoring"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and confirm",
        href: "./about-you-questions/question-court-panel"
      }) }}

    </form>

  </div>

</div>

{% endblock %}