{% extends "layouts/main.html" %}

{% block pageTitle %}
  Register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Create an account</h1>
        <form method="get" action="./task-list.html">
          <div class="govuk-form-group">
            <label class="govuk-label" for="full-name">
              Full name
            </label>
            <input class="govuk-input" id="full-name" name="fullname" type="text" autocomplete="name">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="email-address">
              Email address
            </label>
            <input class="govuk-input" id="email-address" name="emailaddress" type="text" autocomplete="email">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="password">
              Password
            </label>
            <input class="govuk-input" id="password" name="password" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="confirm-password">
              Confirm password
            </label>
            <input class="govuk-input" id="confirm-password" name="confirmpassword" type="text">
          </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
