{% extends "layouts/main.html" %}

{% block pageTitle %}
  Applicant declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>

      {{ govukWarningText({
        text: "Your application may be delayed if you include sensitive or identifying information in your application.",
        iconFallbackText: "Warning"
      }) }}

      <p class="govuk-body">False, misleading or plagiarised work may result in disqualification from the application process or lead to removal from any existing panels.</p>

      {{ govukCheckboxes({
        name: "declaration",
        fieldset: {
          legend: {
            text: "Applicant declaration",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: { text: "Select all that apply" },
        values: data['declaration'],
        items: [
          {
            value: "redacted",
            text: "I confirm that all personal and case-identifying details are redacted, and the examples provided are true and my own"
          },
          {
            value: "commitment",
            html: "I confirm that I will work in accordance with the Advocate Panel Members' Commitment. <a href='#' class='govuk-link' rel='noreferrer noopener' target='_blank'>The Advocate Panel Members' Commitment can be found here (opens in new tab)</a>"
          }
        ]
      }) }}

      {{ govukButton({ text: "Save and continue" }) }}

    </form>

  </div>
</div>
{% endblock %}