{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-m">
    <a href="./landing-page.html" class="govuk-link">New joiner user journey</a>
    </h2>
    <p>A scenario for a new user that logins or creates an account and selects a level</p>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
    <a href="#" class="govuk-link">Returning user journey (to be added)</a>
    </h2>
    <p>A scenario for a returning user that logins and links the application to an existing Advocate record</p>
  

  </div>
</div>

{% endblock %}