{% extends "layouts/main.html" %}

{% block pageTitle %}
Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <form action="./check-answers.html" method="get" novalidate>

      <h1 class="govuk-heading-l">Complete your application form</h1>

      <!-- REFERENCES -->
      <h2 class="govuk-heading-m">References</h2>
      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="ref-1-status">
              Referees
            </a>
            <p class="govuk-body">You can request this reference before you submit your application. <br>
            The referee must send their reference by 30 September 2026</p>
          </div>
          <div class="govuk-task-list__status" id="ref-1-status">
            <strong class="govuk-tag govuk-tag--grey">Not requested</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="ref-2-status">
              Name of second task
            </a>
          </div>
          <div class="govuk-task-list__status" id="ref-2-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

      </ul>

      <!-- PERSONAL DETAILS -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Personal details</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="pd-1-status">
              Your details
            </a>
            <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="pd-1-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>
      </ul>

      <!-- COURTS -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Courts</h2>
      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="courts-1-status">
              Your details
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="courts-1-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="courts-2-status">
              Name of fifth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="courts-2-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

      </ul>

      <!-- QUALIFICATIONS -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Qualifications</h2>
      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="qual-1-status">
              Your details
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="qual-1-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="qual-2-status">
              Name of fifth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="qual-2-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="qual-3-status">
              Name of sixth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="qual-3-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="qual-4-status">
              Name of seventh task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="qual-4-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="qual-5-status">
              Name of eighth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="qual-5-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

      </ul>

      <!-- EQUALITIES -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Equalities</h2>
      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="eq-1-status">
              Your details
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="eq-1-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="eq-2-status">
              Name of fifth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="eq-2-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-described by="eq-3-status">
              Name of sixth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="eq-3-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="eq-4-status">
              Name of seventh task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="eq-4-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="eq-5-status">
              Name of eighth task
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="eq-5-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>

      </ul>

      <!-- DECLARATION -->
      <h2 class="govuk-heading-m govuk-!-margin-top-8">Declaration</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="dec-1-status">
              Your details
            </a>
             <p class="govuk-body">Lorem ipsum lorem ipsum lorem</p>
          </div>
          <div class="govuk-task-list__status" id="dec-1-status">
            <strong class="govuk-tag govuk-tag--blue">Incomplete</strong>
          </div>
        </li>
      </ul>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit application
      </button>

    </form>




    </form>

  </div>
</div>
{% endblock %}