{# app/views/login.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in</h1>

      <form method="post" novalidate>

        {{ govukInput({
          id: "signIn[emailAddress]",
          name: "signIn[emailAddress]",
          type: "email",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukInput({
          id: "signIn[password]",
          name: "signIn[password]",
          type: "password",
          label: {
            text: "Password",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
