{# app/views/login.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          This prototype does not include the full sign in journey.
        </p>
      </div>
    </div>

    <h1 class="govuk-heading-l">Sign in</h1>

      <form method="post" novalidate>

        {{ govukInput({
          id: "signIn[emailAddress]",
          name: "signIn[emailAddress]",
          type: "email",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukInput({
          id: "signIn[password]",
          name: "signIn[password]",
          type: "password",
          label: {
            text: "Password",
            classes: "govuk-label--s"
          }
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

      </form>

  </div>
</div>

{% endblock %}
