{# app/views/profile.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Profile – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

 {% set profile = data.accountProfile or {} %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Your profile and applications</h1>
    
    <h2 class="govuk-heading-m">Applications</h2>

    {% if data.applications %}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Application</th>
            <th class="govuk-table__header">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for application in data.applications %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/application/{{ application.id }}" class="govuk-link">{{ application.name }}</a>
            </td>
            <td class="govuk-table__cell">{{ application.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      {{ govukInsetText({
        html: "You have not made any applications yet."
      }) }}

      {{ govukButton({
        text: "Start new application",
        href: "/about-you-questions/question-court-panel"
      }) }}

    {% endif %}

   

    {% if data.accountProfile %}
      <h2 class="govuk-heading-m">Panel membership</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "General crime" },
            value: { text: profile.hasGeneralCrime or "Not provided" }
          },
          {
            key: { text: "RASSO" },
            value: { text: profile.hasRasso or "Not provided" }
          },
          {
            key: { text: "Serious crime" },
            value: { text: profile.seriousCrimeLevel or "Not provided" }
          }
        ]
      }) }}
    {% endif %}


    <h2 class="govuk-heading-m">Personal details</h2>

   
    {% set preferredCircuit = data['preferredCircuit'] if data['preferredCircuit'] else (profile.preferredCircuit if profile.preferredCircuit else []) %}
    {% set secondaryCircuit = data['secondaryCircuit'] if data['secondaryCircuit'] else (profile.secondaryCircuit if profile.secondaryCircuit else []) %}

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Name" },
          value: { text: data['fullName'] or profile.fullName or "Not provided" }
        },
        {
          key: { text: "Bar number" },
          value: { text: data['barNumber'] or profile.barNumber or "Not provided" }
        },
        {
          key: { text: "Place of work" },
          value: { text: data['employmentType'] or profile.employmentType or "Not provided" }
        },
        {
          key: { text: "Member of chambers" },
          value: { text: data['chambersName'] or profile.chambersName or "Not provided" }
        },
        {
          key: { text: "Primary circuit" },
          value: { text: preferredCircuit | join(", ") or "Not provided" }
        },
        {
          key: { text: "Secondary circuit" },
          value: { text: secondaryCircuit | join(", ") or "Not provided" }
        },
        {
          key: { text: "Preferred Crown Courts" },
          value: { text: data['preferredCrownCourts'] or profile.preferredCrownCourts or "Not provided" }
        },
        {
          key: { text: "Year of call" },
          value: { text: data['calledToTheBar'] or profile.calledToTheBar or "Not provided" }
        },
        {
          key: { text: "Start date of second six" },
          value: { text: data | isoDateFromDateInput("secondSixStartDate") | govukDate
                        or profile | isoDateFromDateInput("secondSixStartDate") | govukDate
                        or "Not provided" }
        },
        {
          key: { text: "Institution" },
          value: { text: data['institution'] or profile.institution or "Not provided" }
        },
        {
          key: { text: "Course or subject" },
          value: { text: data['courseOrSubject'] or profile.courseOrSubject or "Not provided" }
        },
        {
          key: { text: "Grade or result" },
          value: { text: data['gradeOrResult'] or profile.gradeOrResult or "Not provided" }
        },
        {
          key: { text: "Date of completion" },
          value: { text: data | isoDateFromDateInput("dateOfCompletion") | govukDate
                        or profile | isoDateFromDateInput("dateOfCompletion") | govukDate
                        or "Not provided" }
        }
      ]
    }) }}

  </div>
</div>

{% endblock %}