{# app/views/question-what-describes-you.html #}
{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: returnUrl or "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" novalidate>
      <div class="govuk-form-group">

        {{ govukRadios({
          name: "courtType",
          fieldset: {
            legend: {
              text: "Court type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Crown Court",
              text: "Crown Court",
              hint: {
                text: "You must have higher rights of audience"
              }
            },
            {
              value: "Magistrates’ or Youth Courts",
              text: "Magistrates’ or Youth Courts"
            }
          ]
        }) }}
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  

  </div>
</div>
{% endblock %}
