{% extends "layouts/main.html" %}
{% from "_includes/task-status.njk" import taskStatusText, taskStatusClass %}

{% block pageTitle %}Personal details – {{ serviceName }} – GOV.UK Prototype Kit{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Finish creating your account</h1>

    <p class="govuk-body">You need to give details about yourself before you can start your application.</p>

    {{ govukTaskList({
      items: [
        {
          title: { text: "Name and bar number" },
          href: "/personal-details/personal-details",
          status: { tag: { text: taskStatusText(data['personalDetailsStatus']), classes: taskStatusClass(data['personalDetailsStatus']) } },
          idPrefix: "personal-details-name"
        },
        {
          title: { text: "Where you work" },
          href: "/current-chambers/employment-type",
          status: { tag: { text: taskStatusText(data['whereYouWorkStatus']), classes: taskStatusClass(data['whereYouWorkStatus']) } },
          idPrefix: "personal-details-work"
        },
        {
          title: { text: "Preferred circuits and Crown Courts" },
          href: "/preferred-circuit/circuit-question-page",
          status: { tag: { text: taskStatusText(data['preferredCircuitStatus']), classes: taskStatusClass(data['preferredCircuitStatus']) } },
          idPrefix: "personal-details-location"
        },
        {
          title: { text: "Call to the bar and pupillage" },
          href: "/year-call-degree-qualifications/year-call",
          status: { tag: { text: taskStatusText(data['callToBarAndPupilage']), classes: taskStatusClass(data['callToBarAndPupilage']) } },
          idPrefix: "personal-details-qualifications"
        },
        {
          title: { text: "Degree and post-graduate qualifications" },
          href: "/year-call-degree-qualifications/degree-qualifications",
          status: { tag: { text: taskStatusText(data['degreeAndPostGradQualifications']), classes: taskStatusClass(data['degreeAndPostGradQualifications']) } },
          idPrefix: "personal-details-degree"
        },
        {
          title: { text: "Equality monitoring" },
          href: "/equalities/equalities-questions-1",
          status: { tag: { text: taskStatusText(data['equalityInformation']), classes: taskStatusClass(data['equalityInformation']) } },
          idPrefix: "personal-details-equality"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Review registration details",
      href: "/check"
    }) }}

  </div>
</div>

{% endblock %}
