
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form action="./task-list-page.html" method="get" novalidate>

      <h1 class="govuk-heading-xl">
       Sign in to your GOV.UK One Login
      </h1>


      <p class="govuk-body">At the moment, you can only use GOV.UK One Login to access some government services. See the <a href="#" class="govuk-link">services you can use with GOV.UK One Login</a>.</p>
      <p class="govuk-body">If you need a GOV.UK One Login to use a service, and you do not already have one, you’ll be able to create one when you first use that service.</p>
      <p class="govuk-body">Sign in to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change your sign in details (email address, password or how you get security codes)</li>
        <li>see and access the services you’ve used with your GOV.UK One Login</li>
        <li>delete your GOV.UK One Login</li>
      </ul>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}