{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "_components/header/macro.njk" import appHeader %}


{% block header %}
  {% include "_includes/header.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle if pageTitle else "Apply for the CPS Advocate Panel — GOV.UK" }}
{% endblock %}


{% block govukFooter %}
 {{ govukFooter({
   meta: {
     items: [
     {
         href: "/accessibility-statement",
         text: "Accessibility statement"
       },
       {
         href: "/privacy",
         text: "Privacy policy"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       },
       {
         href: "/referee/start",
         text: "Referees"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}



